.btn{
    border-radius: 5px;
    border: none;
    color: white;
    padding: 18px 20px;
    font-size: 16px;
}
#button{
    text-align:right;
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
